@font-face {
  font-family: "Roboto-regular";
  font-style: normal;
  src: url("../public/fonts/RobotoSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  src: url("../public/fonts/Helvetica.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color-base: #fff;
  --text-color-secondary: #a2bbd2;
  --text-special-color: #247cc5;
}

span {
  font-family: "Helvetica, sans-serif";
  color: var(--text-color-base);
}

p {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
  font-family: "Helvetica, sans-serif";
  color: var(--text-color-base);
}

h1 {
  font-family: "Helvetica, sans-serif";
  font-size: 4rem;
  color: var(--text-color-base);
  margin: 0;
}
h2 {
  font-family: "Helvetica, sans-serif";
  font-size: 3rem;
  color: var(--text-color-secondary);
  margin: 0;
}
h3 {
  margin: 0, 0.5rem;
  font-family: "Helvetica, sans-serif";
  font-size: 2rem;
  color: var(--text-color-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
